#brand {
  margin-top: 65px;
  padding: 50px 0;
  background-color: #F4F6F6;
}

.brand_head h2 {
  text-align: center;
  font-family: 'Google Sans' , sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.14em;
  color: #031745;
  text-transform: uppercase;
  padding-bottom: 30px;
}


.slick-slide img {
  display: inline-block;
}